@import "_fonts.scss";
body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bank {
  font-family: Light;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input {
    margin-top: 20px;
    border-radius: 20px;
    width: 15%;
    height: 30px;
  }
  button {
    font-family: Light;
    margin-top: 30px;
    background-color: orange;
    color: rgb(2, 2, 2);
    width: 100px;
    height: 30px;
    border-radius: 20px;
  }
  h2 {
    color: white;
    margin-top: 20px;
  }
  input::placeholder {
    text-align: center;
    font-family: Light;
  }
  input[type="number"] {
    font-size: 14px;
    text-align: center;
    font-family: Light;
  }
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .info {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
  }
}
